<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/ovoChocolate.png')}}" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/principal.css')}}">
        

        <title>Itens</title>
    </head>
    <body>
        <img src="assets/img/shape-bg.png" alt="" class="shape__bg">
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <img src="{{ url_for('static', filename='img/ovoChocolate.png')}}" alt="logo image">
                Páscoa
                </a>
               
            

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/#home" id="card__home" class="nav__link">Home</a>
                        </li>

                        <li class="nav__item">
                            <a href="/itens#recheado" class="nav__link">Recheado</a>
                        </li>

                        <li class="nav__item">
                            <a href="/itens#trufado" class="nav__link">Trufado</a>
                        </li>
                        <li class="nav__item">
                            <a href="/itens#Minis" class="nav__link">Minis</a>
                        </li>

                        {% if session['logado'] %}
                        <li class="nav__item">
                            <a href="/carrinho" class="nav__link"><i class='bx bx-cart'></i></a>
                        </li>
                        <li class="nav__item">
                            <a href="/logout" class="nav__link"><i class='bx bx-exit'></i></a>
                        </li>
                        {% else %}
                        <li class="nav__item">
                            <a href="/formulario" class="items__button" style="color:#000000"> 
                                Entrar
                            </a>
                        </li>
                    </ul>

                    {% endif %}

                    <!-- Close botão -->
                     <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                     </div>

                     
                </div>

                <!--- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                  
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>


        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="items section" id="recheado">
                <div class="shape_big"></div>
                <h2 class="section__title">Selecione seu <br>
                    Ovo recheado</h2>

                    <div class="items__container container grid">

                {% for ovo in ovos %}
                        {% if ovo.categoria == 'recheado' %}
                        <article class="items__card">
                        
                        <h3 class="items__name">{{ ovo.nome }}</h3>
                        <span class="items__price">R${{ ovo.preco }},00</span>
                        <span class="items__price">{{ ovo.peso }}g</span>

                        <a href="#" data-id="{{ ovo.id_ovos }}" onclick="adicionaCarrinho(this)" class="items__button"> 
                            <i id="degustacao" class='bx bx-heart' style="color:#000000"></i>
                        </a>
                    </article>
                    {% endif %}
                {% endfor %}

                    </div>
                       
            </section>
            <section class="items section" id="trufado">
                <div class="shape_big"></div>
                <h2 class="section__title">Selecione seu  <br>
                    Ovo trufado</h2>

                    <div class="items__container container grid">

                {% for ovo in ovos %}
                        {% if ovo.categoria == 'trufado' %}
                        <article class="items__card">
                        
                        <h3 class="items__name">{{ ovo.nome }}</h3>
                        <span class="items__price">R${{ ovo.preco }},00</span>
                        <span class="items__price">{{ ovo.peso }}g</span>

                        <a  data-id="{{ ovo.id_ovos }}" onclick="adicionaCarrinho(event, this)" class="items__button"> 
                            <i  id="degustacao" class='bx bx-heart' style="color:#000000"></i>
                            <center>
                            <img src="{{ url_for('static', filename='img/correto.png')}}" class="correto" alt="">
                            </center>
                        </a>
                    </article>
                    {% endif %}
                {% endfor %}
                     
                    


                    </div>
                       
            </section>
            <section class="items section" id="Minis">
                <div class="shape_big"></div>
                <h2 class="section__title">Selecione seu <br>
                    Mini ovo trufado</h2>

                    <div class="items__container container grid">

                      <!--=====================Precificar-===================-->
                {% for ovo in ovos %}
                        {% if ovo.categoria == 'degustacao' %}
                        <article class="items__card">
                        
                        <h3 class="items__name">{{ ovo.nome }}</h3>
                        <span class="items__price">R${{ ovo.preco }},00</span>
                        <span class="items__price">{{ ovo.peso }}g</span>

                        <a data-id="{{ ovo.id_ovos }}; return false" onclick="adicionaCarrinho(this)" class="items__button"> 
                            <i  id="degustacao" class='bx bx-heart' style="color:#000000"></i>
                        </a>
                    </article>
                    {% endif %}
                {% endfor %}
                     
                    


                    </div>
                       
            </section>
            <form action="{{ url_for('adicionar_ao_carrinho', categoria='Kit 3 sabores') }}" method="post" class="items section" id="Minis">
                <div class="shape_big"></div>
                <h2 class="section__title">Selecione seu <br>
                    Kit de 3 minis ovos de colher</h2>
                <center>
                <p class="home__description">
                       Selecione 3 sabores por apenas R$20,00
                </p>
                </center>

                    <div class="items__container container grid">

                {% for ovo in ovos %}
                        {% if ovo.categoria == 'degustacao' %}
                        <article class="items__card">
                        
                        <h3 class="items__name">{{ ovo.nome }}</h3>
                        
                        <span class="items__price">{{ ovo.peso }}g</span>

                       
                        <div class="container_bottom">
                            <a class="menosTres" href="javascript:void(0);" data-ovo-id="{{ ovo.id_ovos }}">-</a>
                            <input type="text" name="quantidades[{{ ovo.id_ovos }}]" class="quantidade" value="0" id="quantidadeTres_{{ ovo.id_ovos }}">
                            <a class="maisTres" href="javascript:void(0);" onclick="Tres()" data-ovo-id="{{ ovo.id_ovos }}">+</a>
                        </div>
                    </article>
                    {% endif %}
                {% endfor %}
                

                    </div>
                    <br>
                    <br>
                    <br>
                    <center>
                        <button type="submit" id="enviarTres" disabled>
                            <a class="button"> Adicionar</a>
                        </button>
                    </center>
                       
            </form>
            <form action="{{ url_for('adicionar_ao_carrinho', categoria='Kit 6 sabores') }}" method="post" class="items section" id="Minis">
                <div class="shape_big"></div>
                <h2 class="section__title">Selecione seu <br>
                    Kit de 6 Ovos</h2>
                <center>
                <p class="home__description">
                       Selecione 6 sabores por apenas R$35,00
                </p>
                </center>

                    <div class="items__container container grid">

                {% for ovo in ovos %}
                        {% if ovo.categoria == 'degustacao' %}
                        <article class="items__card">
                        
                        <h3 class="items__name">{{ ovo.nome }}</h3>
                        <span class="items__price">{{ ovo.peso }}g</span>

                        
                        <div class="container_bottom">
                            <a class="menosSeis" href="javascript:void(0);" data-ovo-id="{{ ovo.id_ovos }}">-</a>
                            <input type="text" name="quantidades[{{ ovo.id_ovos }}]" class="quantidade" value="0" id="quantidadeSeis_{{ ovo.id_ovos }}">
                            <a class="maisSeis" href="javascript:void(0);" onclick="Seis()" data-ovo-id="{{ ovo.id_ovos }}">+</a>
                        </div>
                    </article>
                    {% endif %}
                {% endfor %}
                

                    </div>
                    <br>
                    <br>
                    <br>
                    <center>
                        <button type="submit" id="enviarSeis" type="submit" disabled>
                            <a class="button"> Adicionar</a>
                        </button>
                    </center>
                       
            </form>

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class='bx bx-up-arrow-alt'></i>
        </a>
        
      
       

        <!--=============== JS ===============-->
        <script src="{{ url_for('static', filename='js/main.js')}}"></script>
        <script src="{{ url_for('static', filename='js/itens.js')}}"></script>
       
        
    </body>
</html>